body {
  background-image: url('images/planets.jpg');
  background-size: cover;
}

.center-screen {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center {
  width: 100%;
  margin: 5 auto;
  color: white;
  font-family: arial;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  }

img {
  outline: 1px solid white;
  outline-offset: -4px;
}
